services:
  db:
    container_name: postgres
    image: postgres:latest
    environment:
      POSTGRES_USER: medmous
      POSTGRES_PASSWORD: med2004mous
      POSTGRES_DB: taskdb
      PGDATA: /data/postgres
    volumes:
      - db:/data/postgres
    ports:
      - "5432:5432"  # Using 5432 since your Downloads PostgreSQL isn't properly running anyway
    networks:
      - db
    restart: unless-stopped

volumes:
  db:
    driver: local

networks:
  db:
    driver: bridge